body {
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.jingdian{
    text-align: center;
}
.ftitle{
    text-align: center;
    color: darkgray;
}
.box-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px; 
}

.box {
    width: 300px;
    height: 400px;
    background-color:transparent 
}

.box:not(:last-child) {
    margin-right: 7px;
}

.box:hover {
    background-color: white;
    transform: translate(-5px, -5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.box-image {
    display: block;
    max-width: 250px;
    height: 250px;
    margin: auto;
    padding: 10px 25px 0 25px;
}
.box-container-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px; 
}
.name{
    text-align: center;
}
.des{
    text-align: center;
    color: darkgray;
}